body {
    margin-top: 200px;
}
h1, h2, h3, div, a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

div {
    font-size: 100px;
}

input {
    border:none;
    background:none;
    font-size: 100px;
    margin: 0px 25px;
}