body {
    margin-top: 150px;
}
h1, h3, div, a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

h1 {
    margin-bottom: 100px;
    font-size: 50px;
}
div {
    font-size: 100px;
}

a {
    margin-top: 70px;
}
input {
    border:none;
    background:none;
    font-size: 100px;
    margin: 0px 25px;
}