{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>가위바위보 게임</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <h1>가위, 바위, 보 중 하나를 골라주세요!</h1>
        <div>
            <form action="{% url 'result' %}">
                <input type="submit" name="input" value="✌">
                <input type="submit" name="input" value="✊">
                <input type="submit" name="input" value="✋">
            </form>
        </div>
    </body>
</html>